/.oh-my-zsh
/.xonotic/data/data
/.xonotic/key_0*
/.xonotic/lock
/.xonotic/data/secret.cfg
/.xonotic/data/csprogs-xonotic-autobuild.pk3
/.xonotic/data/*.pk3dir
/.zcompdump*
/.ssh/id_rsa*
/.viminfo
/.wget*
/.profile
/.lesshst
/.bash*
/.cache
/xonotic.log
/Xonotic
/Xonotic2
/xonotic
/*.pk3
/*.zip
/gmqcc
/data
